spark/entrega_Spark-Kafka/spark_HVC/flows_tenda1.json
[
    {
        "id": "d77507c16060e469",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "850e6129b91887b6",
        "type": "inject",
        "z": "d77507c16060e469",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ola mundo",
        "payloadType": "str",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "fcf8188406024d33"
            ]
        ]
    },
    {
        "id": "1fbdff6cbad49d12",
        "type": "debug",
        "z": "d77507c16060e469",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "fcf8188406024d33",
        "type": "function",
        "z": "d77507c16060e469",
        "name": "Tenda",
        "func": "var msgList = [];\n\ntenda = 'Tenda Paco' \ncategorias = [\"papeleria\",\"xardineria\",\"informatica\",\"comida\",\"electrodomesticos\"]\nproductos = [\"patacas\",\"portatil hp\",\"altavoz tocho\",\"aceitunas\",\"neveras\", \"cartulinas\", \"lapiz\", \"pala\"]\nprezos = [10.00,300.5,40.99,5.00,25.40, 90.12, 0.99, 12.34]\n\ni = Math.floor(Math.random() * 5);\nj = Math.floor(Math.random() * 8);\nk = Math.floor(Math.random() * 8);\n\ndato_json = { tenda : tenda, categoria: categorias[i], producto: productos[j], prezo: prezos[k] }\n\nmsgList.push({payload:dato_json});\n\nreturn [msgList];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 120,
        "wires": [
            [
                "1fbdff6cbad49d12",
                "14baf7cfda5e2beb"
            ]
        ]
    },
    {
        "id": "5db556fe5c5062b4",
        "type": "kafkajs-producer",
        "z": "d77507c16060e469",
        "name": "",
        "client": "034962211cf36956",
        "topic": "vendas",
        "advancedoptions": false,
        "acknowledge": "all",
        "partition": "",
        "headeritems": {},
        "key": "",
        "responsetimeout": 30000,
        "transactiontimeout": 60000,
        "metadatamaxage": 300000,
        "allowautotopiccreation": false,
        "x": 860,
        "y": 220,
        "wires": []
    },
    {
        "id": "14baf7cfda5e2beb",
        "type": "json",
        "z": "d77507c16060e469",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 220,
        "wires": [
            [
                "5db556fe5c5062b4"
            ]
        ]
    },
    {
        "id": "034962211cf36956",
        "type": "kafkajs-client",
        "name": "",
        "brokers": "kafkaserver:9092",
        "clientid": "",
        "connectiontimeout": "3000",
        "requesttimeout": "25000",
        "advancedretry": false,
        "maxretrytime": "30000",
        "initialretrytime": "300",
        "factor": "0.2",
        "multiplier": "2",
        "retries": "5",
        "auth": "none",
        "tlsselfsign": false,
        "tlscacert": "",
        "tlsclientcert": "",
        "tlsprivatekey": "",
        "tlspassphrase": "",
        "saslssl": true,
        "saslmechanism": "plain",
        "loglevel": "error"
    }
]