spark/entrega_Spark-Kafka/spark_ONR/flows_vendas.json
[
    {
        "id": "7a8ea58b4ebeea90",
        "type": "tab",
        "label": "ejercicio_1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f59cdcfc6b68cf54",
        "type": "inject",
        "z": "7a8ea58b4ebeea90",
        "name": "tienda1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "54c3255ba18f28a9"
            ]
        ]
    },
    {
        "id": "54c3255ba18f28a9",
        "type": "function",
        "z": "7a8ea58b4ebeea90",
        "name": "tienda1",
        "func": "var msgList = [];\n\nlista=[\n{\"tienda\":\"1\",\"producto\":\"tv\",\"precio\":\"120\",\"categoria\":\"electrodomesticos\"},\n{\"tienda\":\"1\",\"producto\":\"batidora\", \"precio\":\"60\", \"categoria\":\"electrodomesticos\"},\n{\"tienda\":\"1\",\"producto\":\"rooter\", \"precio\":\"40\", \"categoria\":\"informatica\"}]\n\ni = Math.floor(Math.random() * 3);\n\n\ndato_json = lista[i]\n\nmsgList.push({payload:dato_json});\n\nreturn [msgList];\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "be639324f9b0bb6d",
                "8ecac63806989033"
            ]
        ]
    },
    {
        "id": "be639324f9b0bb6d",
        "type": "debug",
        "z": "7a8ea58b4ebeea90",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "5fa804c1de4add66",
        "type": "kafkajs-producer",
        "z": "7a8ea58b4ebeea90",
        "name": "",
        "client": "29bc350e51bac128",
        "topic": "vendas",
        "advancedoptions": false,
        "acknowledge": "all",
        "partition": "",
        "headeritems": {},
        "key": "",
        "responsetimeout": 30000,
        "transactiontimeout": 60000,
        "metadatamaxage": 300000,
        "allowautotopiccreation": false,
        "x": 1020,
        "y": 220,
        "wires": []
    },
    {
        "id": "8ecac63806989033",
        "type": "json",
        "z": "7a8ea58b4ebeea90",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 240,
        "wires": [
            [
                "5fa804c1de4add66"
            ]
        ]
    },
    {
        "id": "b5ebdbb98c4fd33a",
        "type": "inject",
        "z": "7a8ea58b4ebeea90",
        "name": "tienda2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "3bdee8c583e7b38a"
            ]
        ]
    },
    {
        "id": "3bdee8c583e7b38a",
        "type": "function",
        "z": "7a8ea58b4ebeea90",
        "name": "tienda2",
        "func": "var msgList = [];\n\nlista=[\n{\"tienda\":\"2\",\"producto\":\"tv\",\"precio\":\"180\",\"categoria\":\"electrodomesticos\"},\n{\"tienda\":\"2\",\"producto\":\"batidora\", \"precio\":\"300\", \"categoria\":\"electrodomesticos\"},\n{\"tienda\":\"2\",\"producto\":\"teclado\", \"precio\":\"10\", \"categoria\":\"informatica\"}]\n\ni = Math.floor(Math.random() * 3);\n\n\ndato_json = lista[i]\n\nmsgList.push({payload:dato_json});\n\nreturn [msgList];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 440,
        "wires": [
            [
                "c62f69f09ee26ad4",
                "96df019a1954fecf"
            ]
        ]
    },
    {
        "id": "c62f69f09ee26ad4",
        "type": "debug",
        "z": "7a8ea58b4ebeea90",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "96df019a1954fecf",
        "type": "json",
        "z": "7a8ea58b4ebeea90",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 520,
        "wires": [
            [
                "aa0e2ac8e509e912"
            ]
        ]
    },
    {
        "id": "aa0e2ac8e509e912",
        "type": "kafkajs-producer",
        "z": "7a8ea58b4ebeea90",
        "name": "",
        "client": "29bc350e51bac128",
        "topic": "vendas",
        "advancedoptions": false,
        "acknowledge": "all",
        "partition": "",
        "headeritems": {},
        "key": "",
        "responsetimeout": 30000,
        "transactiontimeout": 60000,
        "metadatamaxage": 300000,
        "allowautotopiccreation": false,
        "x": 1020,
        "y": 460,
        "wires": []
    },
    {
        "id": "29bc350e51bac128",
        "type": "kafkajs-client",
        "name": "",
        "brokers": "kafkaserver:9092",
        "clientid": "",
        "connectiontimeout": "3000",
        "requesttimeout": "25000",
        "advancedretry": false,
        "maxretrytime": "30000",
        "initialretrytime": "300",
        "factor": "0.2",
        "multiplier": "2",
        "retries": "5",
        "auth": "none",
        "tlsselfsign": false,
        "tlscacert": "",
        "tlsclientcert": "",
        "tlsprivatekey": "",
        "tlspassphrase": "",
        "saslssl": true,
        "saslmechanism": "plain",
        "loglevel": "error"
    }
]